@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap');
body{
    background-color: rgb(12, 12, 12);
}
.nav-link{
    font-family:Catamaran;
    font-size: x-large;
    margin-left:15px;
    margin-right:15px;
    margin-top:3px;
}
.navbar-brand{
    margin-top:5px; 
    font-size:25px;
    font-weight:900;
}
/*section styling*/

  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  .bd-placeholder-img{
      object-fit:cover;
  }
  